.btn-primary {
  background-color: #004987;
  border-color: #004987;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #004987;
  color: #004987;
}

.btn-secondary {
  background-color: #fff;
  border-color: #004987;
  color: #004987;
}

.btn-secondary:hover {
  background-color: #004987;
  border-color: #004987;
}

.text-blue {
  color: #004987;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-justify {
  text-align: justify;
}
